/* Write your CSS here */
.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}

.not-found {
  width: 100%;
}
